# file: ~/.gitignore_global
.DS_Store
.idea
.idea/workspace.xml
venv/.Python
venv/bin/
venv/lib/python3.6/__future__.py
venv/lib/python3.6/__pycache__/
venv/lib/python3.6/_bootlocale.py
venv/lib/python3.6/_collections_abc.py
venv/lib/python3.6/_dummy_thread.py
venv/lib/python3.6/_weakrefset.py
venv/lib/python3.6/abc.py
venv/lib/python3.6/base64.py
venv/lib/python3.6/bisect.py
venv/lib/python3.6/codecs.py
venv/lib/python3.6/copy.py
venv/lib/python3.6/copyreg.py
venv/lib/python3.6/distutils/
venv/lib/python3.6/enum.py
venv/lib/python3.6/fnmatch.py
venv/lib/python3.6/functools.py
venv/lib/python3.6/genericpath.py
venv/lib/python3.6/hashlib.py
venv/lib/python3.6/heapq.py
venv/lib/python3.6/hmac.py
venv/lib/python3.6/imp.py
venv/lib/python3.6/io.py
venv/lib/python3.6/keyword.py
venv/lib/python3.6/linecache.py
venv/lib/python3.6/locale.py
venv/lib/python3.6/no-global-site-packages.txt
venv/lib/python3.6/ntpath.py
venv/lib/python3.6/operator.py
venv/lib/python3.6/orig-prefix.txt
venv/lib/python3.6/os.py
venv/lib/python3.6/posixpath.py
venv/lib/python3.6/random.py
venv/lib/python3.6/re.py
venv/lib/python3.6/readline.so
venv/lib/python3.6/reprlib.py
venv/lib/python3.6/rlcompleter.py
venv/lib/python3.6/shutil.py
venv/lib/python3.6/site-packages/
venv/lib/python3.6/site.py
venv/lib/python3.6/sre_compile.py
venv/lib/python3.6/sre_constants.py
venv/lib/python3.6/sre_parse.py
venv/lib/python3.6/stat.py
venv/lib/python3.6/struct.py
venv/lib/python3.6/tarfile.py
venv/lib/python3.6/tempfile.py
venv/lib/python3.6/token.py
venv/lib/python3.6/tokenize.py
venv/lib/python3.6/types.py
venv/lib/python3.6/warnings.py
venv/lib/python3.6/weakref.py
venv/pip-selfcheck.json
